.user-manage-container {
  display: inline-block;
  height: 560px;
  //color: #91d5ff;

  .drawer-container {
    display: flex;
    position: relative;
    float: left;
    margin: 0 15px 0 0;
    overflow: hidden;
    height: 100%;
    border: 1px solid #bfbfbf;
    border-radius:5px;
  }

  .user-account-container {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
  }

}
