.ruleItem{
    display: flex;
}

.itemTitle{
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    width: 140px;
    text-align: right;
}

.itemContent{
    font-size: 16px;
    line-height: 20px;
    display: block;
}

.ruleText{
    color: #F59A23;
    width: 1000px;
}

.ps{
    font-size: 13px;
    font-style: normal;
    color: #7F7F7F;
}

.createBox{
    display: flex;
    border: 4px solid rgba(223, 234, 247, 1);
    border-radius: 3px;
    width: 1099px;
    margin-left: 25px;
}

.createTitle{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 25px;
    left: 15px;
}

.chosenRule{
    position: relative;
    text-align: center;
    background-color: rgba(2, 167, 240, 1);
    border-radius: 2px;
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    color: #FFFFFF;
    width: fit-content;
    cursor: pointer;
}

.chosenRegion{
    position: relative;
    text-align: center;
    background-color: rgba(183, 167, 241, 1);
    border-radius: 2px;
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    color: #FFFFFF;
    width: fit-content;
    cursor: pointer;
}

.chosenTags{
    position: relative;
    display: flex;
    width: 915px;
    left: 150px;
}

.tagContent{
    margin-left: 8px;
    margin-right: 8px;
}

.chooseBox{
    position: relative;
    display: flex;
    border: 1px solid rgba(170, 170, 170, 1);
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 915px;
    left: 150px;
    margin-bottom: 20px;
    min-height: 276px;
}

.chooseTagArea{
    display: block;
    width: 300px;
}

.separator1{
    position: absolute;
    width: 2px;
    top: 3%;
    left: 299px;
    height: 94%;
    background-color: rgba(170, 170, 170, 1);
}

.separator2{
    position: absolute;
    width: 2px;
    top: 3%;
    left: 599px;
    height: 94%;
    background-color: rgba(170, 170, 170, 1);
}

.chooseBoxTitle1{
    position: relative;
    color: #333333;
    font-size: 14px;
    left: 15px;
    top: 10px;
    width: 200px;
}

.chooseBoxTitle2{
    position: relative;
    color: #333333;
    font-size: 14px;
    left: 15px;
    top: 10px;
    width: 200px;
}

.chooseBoxTitle3{
    position: relative;
    color: #333333;
    font-size: 14px;
    left: 15px;
    top: 10px;
    width: 200px;
}

.chooseBoxSubTitle{
    position: relative;
    color: #666666;
    font-size: 13px;
    left: 35px;
    top: 10px;
    width: 200px;
}

.createTag{
    position: relative;
    text-align: center;
    background-color: rgba(2, 167, 240, 1);
    border-radius: 2px;
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    color: #FFFFFF;
    margin-bottom: 5px;
    cursor: pointer;
    position: 'absolute';
    width: 90px;  
    left: 500px;
}

.ruleUploadBtn{
    position: absolute;
    top: 60px;
    left: 170px;
    height: 22px;
    width: 65px;
    //background-color: rgba(2, 167, 240, 1);
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 2px;
    text-align: center;
    line-height: 22px;
}

.ruleName{
    position: absolute;
    top: 58px;
    left: 245px;
    height: 22px;
    font-size: 16px;
}

.ruleNumber{
    position: absolute;
    top: 19px;
    left: 170px;
    height: 22px;
    font-size: 16px;
}

