.table {
    white-space: pre-wrap;
    word-wrap: break-word; 
    word-break: break-all;
}

.mainSpace {
    text-align: center;
    width: 100%;
}

.redBtn {
    color: white;
    background-color: red;
}

.commentTitle {
    text-align: left;
    font-size: 20px;
    margin-bottom: 8px;
}