.textContainer {
	margin-left: 20px;
	width: 200px;
	height: 200px;
	display: flex;
	font-size: large;
	padding-top: 30px;
}

.container {
	display: flex;
}

.textRight {
	margin-left: 20px;
}

.top {
	font-size: 45px;
}

