.textContainer{
  margin-left: 20px;
  width: 200px;
  height:200px;
  /* background-color: #abc; */
  display: flex;
  font-size: large;
  padding-top: 30px;
}
.container{
  display: flex;
}
.textRigth{
  margin-left: 20px;
}
.top{
  font-size: 45px;
  
}