.login-management {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .cards-container {
    height: 60%;
    transform: translate(0, 20%);

    .card-box {
      height: 100%;
      border: 1px solid #e1e1e1;
    }
  }
}

