.ruleItem {
    display: flex;
}

.itemTitle {
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    width: 140px;
    text-align: right;
}

.itemContent {
    font-size: 16px;
    line-height: 20px;
    display: block;
}

.btnText {
    margin-right: 10px;
}

.ruleText {
    color: #F59A23;
    width: 1000px;
}

.ps {
    font-size: 13px;
    font-style: normal;
    color: #7F7F7F;
}

.createBox {
    display: flex;
    border: 4px solid rgba(223, 234, 247, 1);
    border-radius: 3px;
    width: 1099px;
    margin-left: 25px;
}

.createTitle {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 25px;
    left: 15px;
}

.chosenTag {
    position: relative;
    text-align: center;
    background-color: rgba(2, 167, 240, 1);
    border-radius: 2px;
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    color: #FFFFFF;
    width: fit-content;
    cursor: pointer;
}

.chosenTags {
    position: relative;
    display: flex;
    width: 915px;
    left: 150px;
}

.tagContent {
    margin-left: 8px;
    margin-right: 8px;
}

.chooseBox {
    position: relative;
    display: flex;
    border: 1px solid rgba(170, 170, 170, 1);
    border-radius: 2px;
    width: 915px;
    left: 150px;
    margin-bottom: 20px;
    min-height: 276px;
}

.chooseTagArea {
    display: block;
    width: 50%;
}
.separator1 {
    position: absolute;
    width: 2px;
    top: 3%;
    left: 50%;
    height: 94%;
    background-color: rgba(170, 170, 170, 1);
}

.chooseBoxTitle1 {
    position: relative;
    color: #333333;
    font-size: 14px;
    left: 15px;
    top: 10px;
    width: 200px;
}

.chooseBoxTitle3 {
    position: relative;
    color: #333333;
    font-size: 14px;
    left: 15px;
    top: 10px;
    width: 200px;
}

.enabledTags {
    position: relative;
    top: 20px;
    left: 60px;
    height: 0;
    width: 360px;
}

.createTag {
    position: relative;
    text-align: center;
    background-color: rgba(2, 167, 240, 1);
    border-radius: 2px;
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    color: #FFFFFF;
    margin-bottom: 5px;
    cursor: pointer;
    width: 90px;
    left: 60px;
    top: 20px;
}
