.tag{
    position: relative;
    background-color: rgba(2, 167, 240, 1);
    border-radius: 2px;
    min-height: 27px;
    font-size: 13px;
    color: #FFFFFF;
    width: fit-content;
    max-width: 200px;

    cursor: pointer;
}

.tagContent{
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tagsArea{
    position: relative;
    top: 20px;
    left: 60px;
    width: 200px;
    margin-bottom: 30px;
}